# Escludi cartelle di compilazione
bin/
obj/
.vs/

# Escludi pacchetti NuGet scaricati
packages/

# Escludi file di configurazione dell'IDE
*.user
*.suo
*.vscode/

# Escludi i log e file temporanei
*.log
*.tmp

# Escludi file di configurazione sensibili
MyWarehouse.WEB/appsettings.json
MyWarehouse.WEB/appsettings.Development.json
MyWarehouse.WEB/Properties/launchSettings.json
